
header {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 10px solid  ;
}

thead, th {
    border: 18px solid rgb(127, 20, 177);
    padding: 10px;
    width: auto;
    margin: 0 auto;
    
}

tr td {
    border: 5px, solid, rgb(0, 0, 0);
    padding: 5px;
}

body {
    color: aquamarine;
}